<div class="datepicker">
  <div class="datepicker-top">
    <div class="toolbar-selector" [class.separator]="calendarMonths?.length || calendarYears?.length">
      <button class="arrow prevDate" (click)="onPreviousDateClicked($event)">
        <i class="chevron left"></i>
      </button>
      <div class="month-year-group">
        <button class="month-btn" (click)="onMonthButtonClicked($event)">
          <span class="month-name">{{ browserMonthName }}</span>
        </button>
        <button class="year-btn" (click)="onYearButtonClicked($event)">
          <span class="year-name">{{ browserYearName }}</span>
        </button>
      </div>
      <button class="arrow nextDate" (click)="onNextDateClicked($event)"><i class="chevron right"></i></button>
    </div>
  </div>
  <div class="datepicker--calendar" (click)="onCalendarClicked($event)">

    <ng-container *ngIf="calendarDays?.length">
      <div class="datepicker--days">
        <div
          *ngFor="let day of calendarDays; index as i"
          [class]="day.className"
          attr.data-day="{{ day.value }}"
        >
          {{ day.value }}
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="calendarMonths?.length">
      <div class="datepicker--month">
        <div
          *ngFor="let month of calendarMonths; index as i"
          [class]="month.className"
          attr.data-month="{{ i }}"
        >
          {{ month.value }}
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="calendarYears?.length">
      <div class="datepicker--year">
        <div
          *ngFor="let year of calendarYears;"
          [class]="year.className"
          attr.data-year="{{ year.value }}"
        >
          {{ year.value }}
        </div>
      </div>
    </ng-container>

  </div>
</div>