@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-size: 1em;
  font-family: 'Roboto', 'sans-serif';
}


:root {
  --fkds-theme-primary: #008ffd;
  --fkds-theme-primary-accent: #cbe8ff;
  --fkds-bg-primary: #d6dae0;
  --fkds-bg-secondary: #eaebec;
  --fkds-bg-tertiary: #fdfdfd;
  --fkds-text-primary: #1f1f25;
  --fkds-text-secondary: #999fa6;
  --fkds-text-tertiary: #ffffff;
}